#admin-background
{
background-color: #224F59;
}

.admin-accent{
    color: #1A4A5A;
}

.section {
    position: absolute;
    right: 5%; 
    left: 25%;               /* Position the box on the right */
    top: 5%;                  /* 5% gap from the top */
    bottom: 5%;               /* 5% gap from the bottom */
    background-color: white;  /* Set background to white */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Optional shadow */
}