.employee-background
{
    background-color: #F2D683;
    
}
/* Michael's CSS */
.sales-tables {
    display: flex;
    flex-wrap: nowrap;
    width: 90%;
    margin: auto;
    gap: 20px;
  }
  
  .sales-tables-stock, .sales-tables-basket {
    width: 50%;
  }

  .create-customer, .choose-customer {
    width: 60%;
    margin: auto;
  }
  
  .error {
    color: red;
    font-style: italic;
    font-size: small;
  }

  table, th, td {
    border: 1px solid;
  }

  td {
    background-color: #f5eaac;
    font-weight: 500;
  }

  tr:hover td{
    background-color: #ecbd2e;
  }

  th {
    cursor: pointer;
    user-select: none;
}
.sort-icon {
    font-size: 14px;
    margin-left: 5px;
    color: #888;
}

#click-headers {
  margin-bottom: 0px;
  margin-top: 3px;
}