.employee-background
{
    background-color: #F2D683;
    
}
/* Michael's CSS */
.sales-tables {
    display: flex;
    flex-wrap: nowrap;
    width: 90%;
    margin: auto;
    gap: 20px;
  }
  
  .sales-tables-stock, .sales-tables-basket {
    width: 50%;
  }
  